{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid" id="empty-page">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <img src="static/sad-svg.png" alt="Your Logo" class="mb-4" style="height:150px; width: 150px;">
                <h1 class="display-5 mb-4">Uh Oh, it's all empty here!</h1>
                <p class="lead text-muted">It seems that there are no books added yet.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
